@use "./vendor/normalize.scss";
@use "./partials/colors";
@use "./partials/typography";

.navigation { 
    background-color: colors.$darker-background;
    font-family: typography.$primary-font;
    padding: 15px;
}

.navigation a {
    color: colors.$primary-color;
    display: inline;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 15px;
    padding: 20px;
}

.nav-links {
    float: right;
    text-align: center;
    margin-right: 10px;
    padding: 7px;
}

.hero {
    background-color: colors.$primary-color;
    color: colors.$primary-font-color;
    font-family: typography.$primary-font;
    padding: 50px;
    text-align: left;
}  
.hero  h1 {
    color: colors.$secondary-font-color;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 200px;
}
.hero h2 {
    color: colors.$secondary-color;
    font-size: 35px;
    margin-left: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.hero p {
    color: colors.$primary-font-color;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 10px;
    line-height: 1.6;
}
.hero img {
    display: inline;
    margin-left: 233px;
    margin-top: 5px;
}
.the-place {
    background-color: colors.$dark-background;
    color: colors.$primary-color;
    font-family: typography.$primary-font;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}
.our-story {
    background-color: colors.$primary-color;
    color: colors.$primary-font-color;
    font-family: typography.$primary-font;
    padding: 50px;
    text-align: left;
}
.about-us {
    color: colors.$secondary-font-color;
    font-family: typography.$primary-font;
    margin-top: 15px;
    margin-left: 200px;
    text-decoration: none;
}