.body {
    margin: 0;
}
.navigation {
    background-color: #150300;
    padding: 15px;
}
.navigation a{
    color: white;
    text-transform: Uppercase;
    font-size: 18px;
    text-decoration: none;
}
.nav-links {
    float: right;
    display: inline;
}
.nav-links a{
    color: white;
    text-transform: Uppercase;
    font-size: 18px;
    padding: 10px;
}
.hero {
    background-color: white;
    padding: 50px;
    float: left;
}
.discover {
    color: orange;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.story {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.star-container {
    text-align: center;
    margin-bottom: 20px;
}
.description {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.about-us {
    color: orange;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 330px;
}
.our-story {
    background-color: white;
    padding: 50px;
    float: left;
    text-align: center;
}
.image-container {
    display: inline-block;
    position: relative;
}
.the-place {
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}